#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-left: 7rem; /*just temporary dummy idea*/
  text-align: center;
}


.danger-button {
  padding-left: 1.25rem; /* px-5 = 1.25rem */
  padding-right: 1.25rem; /* px-5 = 1.25rem */
  padding-top: 0.5rem; /* py-2 = 0.5rem */
  padding-bottom: 0.5rem; /* py-2 = 0.5rem */
  color: white; /* text-white */
  border-radius: 0.5rem; /* rounded-lg = 0.5rem */
  background-color: #d53f8c; /* bg-pink-700 */
  transition: background-color 0.2s ease; /* transition duration-200 */
}

.danger-button:hover{ background-color: #be185d; /* hover:bg-pink-800 */ }